body {
  padding: 2rem;
  font-family: sans-serif;
}

@media only screen and (max-width: 600px) {
  body {
    padding: 2rem 1rem;
  }
}

p {
  font-size: 1.2rem;
  text-align: center;
}

.box {
  margin: 1rem auto;
}

@keyframes fill {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

.progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: blue;
}

.progress-bar-wrapper {
  background-color: #bebdbd;
  height: 60px;
  margin: auto;
  position: relative;
}

@media only screen and (max-width: 600px) {
  .progress-bar-wrapper {
    height: 50px;
  }
}

.progress-bar span {
  color: #fff;
  font-size: 1.2rem;
}

button {
  margin: auto;
  display: block;
  padding: 0.5rem 2rem;
  text-align: center;
  margin-top: 1rem;
  font-size: 1.1rem;
  cursor: pointer;
}
